<!-- filepath: /Users/x326567/Desktop/personal/dash/src/server/utils/pdfgenerator/templates/monthlyBudgetSummary.mustache -->
<div class="page-content">
  <div class="yearly-summary section-break">
    <h2>Yearly Accumulated Summary Since Start of Year</h2>
    <table border="1" cellspacing="0" cellpadding="5">
      <tr>
        <th>Bucket Name</th>
        <th>Yearly Spent</th>
        <th>Yearly Allocated</th>
      </tr>
      {{#yearlyAccumulatedData}}
        <tr>
          <td>{{bucketname}}</td>
          <td>${{yearlyAccumulated}}</td>
          <td>${{yearlyAllocated}}</td>
        </tr>
      {{/yearlyAccumulatedData}}
    </table>
  </div>

  <div class="monthly-summary">
    <h2>Monthly Summary</h2>
    
    {{#buckets}}
      {{#groceries}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Groceries - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/groceries}}

      {{#date_night}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Date Night - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/date_night}}

      {{#going_out_yogi}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Going Out (Yogi) - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/going_out_yogi}}

      {{#internet}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Internet - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/internet}}

      {{#vacation}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Vacation - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/vacation}}

      {{#house_supplies}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>House Supplies - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/house_supplies}}

      {{#gas}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Gas - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/gas}}

      {{#yogi_activities}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Yogi Activities - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/yogi_activities}}

      {{#gifts}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Gifts - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/gifts}}

      {{#spotify}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Spotify - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/spotify}}

      {{#parcel}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Parcel - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/parcel}}

      {{#savings_chase_2112}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Savings (Chase 2112) - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/savings_chase_2112}}

      {{#therapy}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Therapy - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/therapy}}

      {{#netflix}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Netflix - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/netflix}}

      {{#electric}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Electric - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/electric}}

      {{#rent}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Rent - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/rent}}

      {{#clothes}}
        <div class="bucket-section">
          <div class="bucket-header">
            <h3>Clothes - Used: ${{monthlyExpenseTotal}} | Allocated: ${{monthlyBucketAllocation}}</h3>
          </div>
          {{#monthlyExpenses.length}}
            <table border="1" cellspacing="0" cellpadding="5">
              <tr>
                <th>Person</th>
                <th>Amount</th>
                <th>Vendor</th>
                <th>Description</th>
                <th>Expense Date</th>
              </tr>
              {{#monthlyExpenses}}
                <tr>
                  <td>{{person}}</td>
                  <td>${{amount}}</td>
                  <td>{{vendor}}</td>
                  <td>{{description}}</td>
                  <td>{{expensedate}}</td>
                </tr>
              {{/monthlyExpenses}}
            </table>
          {{/monthlyExpenses.length}}
          {{^monthlyExpenses.length}}
            <p class="no-expenses"><em>No expenses recorded for this bucket this month</em></p>
          {{/monthlyExpenses.length}}
        </div>
      {{/clothes}}
    {{/buckets}}
  </div>
</div>