Monthly Report:

<h2>Yearly Accumulated Summary Since Start of Year</h2>
<table border="1" cellspacing="0" cellpadding="5">
  <tr>
    <th>Bucket Name</th>
    <th>Total Amount</th>
  </tr>
  {{#yearlyAccumulatedData}}
    <tr>
      <td>{{bucketname}}</td>
      <td>{{total_amount}}</td>
    </tr>
  {{/yearlyAccumulatedData}}
</table>

{{#buckets}}
  {{#groceries}}
  <h2>Groceries used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/groceries}}

  {{#date_night}}
  <h2>Date Night used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/date_night}}

  {{#gifts}}
  <h2>Gifts used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/gifts}}

  {{#house_supplies}}
  <h2>House Supplies used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/house_supplies}}

  {{#rent}}
  <h2>Rent used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/rent}}

  {{#internet}}
  <h2>Internet used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/internet}}

  {{#parcel}}
  <h2>Parcel Pending used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/parcel}}

  {{#spotify}}
  <h2>Spotify used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/spotify}}

  {{#netflix}}
  <h2>Netflix used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/netflix}}

  {{#gas}}
  <h2>Gas used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/gas}}

  {{#savings_chase_2112}}
  <h2>Savings used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/savings_chase_2112}}

  {{#electric}}
  <h2>Electricity used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/electric}}

  {{#yogi_activities}}
  <h2>Yogi Activities used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/yogi_activities}}

  {{#going_out_yogi}}
  <h2>Going Out used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/going_out_yogi}}

  {{#vacation}}
  <h2>Vacation used: {{monthlyExpenseTotal}} total: {{monthlyBucketAllocation}}</h2>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Person</th>
      <th>Amount</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Expense Date</th>
    </tr>
      {{#monthlyExpenses}}
        <tr>
          <td>{{person}}</td>
          <td>{{amount}}</td>
          <td>{{vendor}}</td>
          <td>{{description}}</td>
          <td>{{expensedate}}</td>
        </tr>
      {{/monthlyExpenses}}
  </table>
  {{/vacation}}
{{/buckets}}